body {
    font-family: "montserrat";
}

#title {
    background-color: #ff4c68;
    color: white;
    font-weight: bolder;
}

.container-fluid {
    padding: 3% 15% 6%;
}

h1 {
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
    /* padding-top: 20%; */
}

h2 {
    font-family: "Montserrat-bold";
    font-size: 4rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat-bold";
}


/* navbar */

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 1.2rem;
    /* font-family: "Montserrat-light"; */
}

.download-button {
    margin: 5% 3% 0% 0%;
}


/* title-img */

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%
}


/* features */

#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

p {
    color: gray;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 10%;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */

#pricing {
    text-align: center;
    padding: 7% 5%;
}

.btn-price {
    width: 90%;
}

@media (max-width:1000px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0deg);
        width: 50%;
        margin-top: 20px;
    }
}


/* cta */

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
}

.cta-h3 {
    padding-top: 45px;
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: "Montserrat-black";
}

.download-button-cta {
    margin: 5% 1%;
}

#footer {
    padding: 3% 7%;
    text-align: center;
    background-color: #fff;
    color: gray;
}

.footer-link {
    padding: 20px;
}